# Maven
target/
demo/**/target/

# Java
*.class
*.jar
*.war

# eclipse
bin/
.svn/
.classpath
.settings/
.project
.factorypath
.metadata

demo/**/bin/
demo/**/.settings/
demo/**/.classpath
demo/**/.project

# Mule Studio
.studio
demo/**/catalog

